
[z_calibration]
probe_nozzle_x: 130
probe_nozzle_y: 259
#   The X and Y coordinates (in mm) for clicking the nozzle on the
#   Z endstop.
probe_switch_x: 125
probe_switch_y: 239
#   The X and Y coordinates (in mm) for clicking the probe's switch
#   on the Z endstop.
#probe_bed_x: default from relative_reference_index of bed_mesh
#probe_bed_y: default from relative_reference_index of bed_mesh
#   The X and Y coordinates (in mm) for probing on the print surface
#   (e.g. the center point) These coordinates will be adapted by the
#   probe's X and Y offsets. The default is the relative_reference_index
#   of the configured bed_mesh. It will raise an error if there is no
#   probe_bed site and no bed_mesh with a relative_reference_index
#   configured.
switch_offset: 0.38

#   The trigger point offset of the used mag-probe switch.
#   This needs to be fined out manually. More on this later
#   in this section..
max_deviation: 2.0
#   The maximum allowed deviation of the calculated offset.
#   If the offset exceeds this value, it will stop!
#   The default is 1.0 mm.
#samples: default from "probe:samples" section
#   The number of times to probe each point. The probed z-values
#   will be averaged. The default is from the probe's configuration.
#samples_tolerance: default from "probe:samples_tolerance" section
#   The maximum Z distance (in mm) that a sample may differ from other
#   samples. The default is from the probe's configuration.
#samples_tolerance_retries: default from "probe:samples_tolerance_retries" section
#   The number of times to retry if a sample is found that exceeds
#   samples_tolerance. The default is from the probe's configuration.
#samples_result: default from "probe:samples_result" section
#   The calculation method when sampling more than once - either
#   "median" or "average". The default is from the probe's configuration.
#clearance: 2 * z_offset from the "probe:z_offset" section
#   The distance in mm to move up before moving to the next
#   position. The default is two times the z_offset from the probe's
#   configuration.
#position_min: default from "stepper_z:position_min" section.
#   Minimum valid distance (in mm) used for probing move. The
#   default is from the Z rail configuration.
speed: 50
#   The moving speed in X and Y. The default is 50 mm/s.
#lift_speed: default from "probe:lift_speed" section
#   Speed (in mm/s) of the Z axis when lifting the probe between
#   samples and clearance moves. The default is from the probe's
#   configuration.
#probing_speed: default from "stepper_z:homing_speed" section.
#   The fast probing speed (in mm/s) used, when probing_first_fast
#   is activated. The default is from the Z rail configuration.
#probing_second_speed: default from "stepper_z:second_homing_speed" section.
#   The slower speed (in mm/s) for probing the recorded samples.
#   The default is second_homing_speed of the Z rail configuration.
#probing_retract_dist: default from "stepper_z:homing_retract_dist" section.
#   Distance to backoff (in mm) before probing the next sample.
#   The default is homing_retract_dist from the Z rail configuration.
probing_first_fast: true
#   If true, the first probing is done faster by the probing speed.
#   This is to get faster down and the result is not recorded as a
#   probing sample. The default is false.

#[gcode_macro CALIBRATE_Z]
#rename_existing: BASE_CALIBRATE_Z
#gcode:
#    CG28
#    M117 Z-Calibration..
#    _SET_LOWER_STEPPER_CURRENT  # I lower the stepper current for homing and probing 
#    SECURE_ATTACH_PROBE         # a macro for fetching the probe first
#    BASE_CALIBRATE_Z
#    SECURE_DOCK_PROBE           # and parking it afterwards
#    _RESET_STEPPER_CURRENT      # resetting the stepper current
#    M117

[gcode_macro CALIBRATE_Z]
rename_existing: BASE_CALIBRATE_Z
gcode:
    CG28
    M117 Z-Calibration..
    Attach_Probe
    BASE_CALIBRATE_Z
    Dock_Probe

# attaching the probe if not already attached
#[gcode_macro SECURE_ATTACH_PROBE]
#gcode:
#    QUERY_PROBE
#    _PROBE_ACTION action=attach
#    _CHECK_PROBE action=check_attach

# docking the probe if not already docked
#[gcode_macro SECURE_DOCK_PROBE]
#gcode:
#    QUERY_PROBE
#    _PROBE_ACTION action=dock
#    _CHECK_PROBE action=check_dock


#[gcode_macro _CHECK_PROBE]
#variable_probe_state: 0
#default_parameter_action:
#gcode:
#    QUERY_PROBE
#    _PROBE_ACTION action={ ACTION }

#[gcode_macro _PROBE_ACTION]
#default_parameter_action:        
#gcode:
#  {% set state = not printer.probe.last_query %}
#  SET_GCODE_VARIABLE MACRO=_CHECK_PROBE VARIABLE=probe_state VALUE={ state }

  # attach/dock probe
#  {% if not state and params.ACTION == 'attach' %}
#    _ATTACH_PROBE
#  {% endif %}
#  {% if state and params.ACTION == 'dock' %}
#    _DOCK_PROBE
#  {% endif %}

  # check if probe fails to attach/detach
#  {% if state and params.ACTION == 'check_dock' %}
#    { action_raise_error("Probe dock failed!") }
#  {% endif %}
#  {% if not state and params.ACTION == 'check_attach' %}
#    { action_raise_error("Probe attach failed!") }
#  {% endif %}

# this attaching from above is more silent but would
# be dangerous if the probe is already attached!
#[gcode_macro _ATTACH_PROBE]
#gcode:
#    SAVE_GCODE_STATE NAME=_ATTACH_PROBE
#    SET_GCODE_OFFSET Z=0.0         ; reset offset - will be restored
#    G90                            ; absolute positioning
#    G0 X252.5 Y300 Z10 F12000      ; move to mag-probe
#    G0 Z0.0 F540                   ; move down to mag-probe
#    G0 Y285 F6000                  ; move out
#    G0 Z10 F540                    ; move up
#    RESTORE_GCODE_STATE NAME=_ATTACH_PROBE

#[gcode_macro _ATTACH_PROBE]
#gcode:
#    SAVE_GCODE_STATE NAME=_ATTACH_PROBE
#    SET_GCODE_OFFSET Z=0.0         ; reset offset - will be restored
#    G90                            ; absolute positioning
#    G0 X252.5 Y285 Z10 F12000      ; move to mag-probe
#    G0 Z1.0 F540                   ; move down to mag-probe
#    G0 Y300 F6000                  ; move in
#    G0 Y285 F6000                  ; move out
#    G0 Z10 F540                    ; move up
#    RESTORE_GCODE_STATE NAME=_ATTACH_PROBE

#[gcode_macro _DOCK_PROBE]
#gcode:
#    SAVE_GCODE_STATE NAME=_DOCK_PROBE
#    SET_GCODE_OFFSET Z=0.0         ; reset offset - will be restored
#    G90                            ; absolute positioning
#    G0 X252.5 Y285 Z10 F12000      ; move to mag-probe
#    G0 Z1.0 F540                   ; move down to mag-probe
#    G0 Y300 F6000                  ; move in
#    G0 Z10 F540                    ; move up
#    RESTORE_GCODE_STATE NAME=_DOCK_PROBE

#[gcode_macro BED_MESH_CALIBRATE]
#rename_existing: _BED_MESH_CALIBRATE
#gcode:
#    SECURE_ATTACH_PROBE
#    _BED_MESH_CALIBRATE {% for p in params 
#           %}{'%s=%s' % (p, params[p])}{% 
#          endfor %}
#    SECURE_DOCK_PROBE

#[gcode_macro PROBE_ACCURACY]
#rename_existing: _PROBE_ACCURACY
#gcode:
    #store current nozzle location
    #SAVE_GCODE_STATE NAME=original_nozzle_location
#    SECURE_ATTACH_PROBE
#    PARKCENTER Z={printer.configfile.settings.quad_gantry_level.horizontal_move_z}
#    _PROBE_ACCURACY {% for p in params 
#            %}{'%s=%s' % (p, params[p])}{% 
#           endfor %}
#    SECURE_DOCK_PROBE
    #restore current nozzle location
    #RESTORE_GCODE_STATE NAME=original_nozzle_location MOVE=1


